#help.page .title {
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
}

#help.page .title h1,
#help.page .title h3 {
    margin: 0;
    color: var(--purple);
}

#help.page .title h1 {
    font-weight: bold;
}

#help.page .title h2 {
    font-size: 20px;
    font-weight: 500;
}

#help.page .title h3 {
    font-weight: bold;
}

#help.page .content {
    flex-direction: column;
}

#help.page .content p + p {
    margin-bottom: 30px;
}

#help.page .after-content {
    width: 100%;
    flex-direction: column;
}

#help.page .after-content hr {
    height: 2px;
    width: 100%;
    background-color: var(--purple-title);
}

#help.page .after-content .after-content-apps {
    height: 60px;
    align-items: center;
}

#help.page .after-content .after-content-apps button {
    width: 142px;
    padding: 5px;
    border: 2px solid var(--grey);
    background: none;
    height: 45px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    font-size: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#help.page .after-content .after-content-apps button > img {
    height: 30px;
    margin-right: 10px;
}