@import "/assets/css/reset.css";
@import "/assets/css/variables.css";
@import "/assets/css/help/help.css";
@import "/assets/css/header.css";
@import "/assets/css/footer.css";

#help.page {
    max-width: 850px;
    padding: 50px;
    padding-top: 95px;
    flex-direction: column;
}

#help.page hr {
    width: 100%;
    height: 2px;
    background-color: var(--purple-title);
}

.help-title {
    flex-direction: column;
}

.help-title h1 {
    color: var(--purple);
    margin-bottom: 10px;
}

.help-list {
    flex-direction: column;
}

.help-list ul {
    flex-direction: column;
    list-style: none;
}

.help-list ul li {
    margin-bottom: 20px;
}

.help-list ul li a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}