/* inform */

#home.page .hero .inform {
    flex-direction: column;
    height: 100%;
}

#home.page .prime-hero .inform {
    margin-bottom: 187.5px;
}


#home.page .hero .inform-label {
    position: relative;
    color: var(--white);
    justify-content: center;
}

#home.page .hero .inform-label-wrapper {
    position: relative;
    justify-content: center;
    margin: 0;
    height: 40px;
    align-items: center;
    font-size: 25px;
}

#home.page .hero .inform-label-wrapper::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: var(--gray);
    content: "";
}

#home.page .hero .final-inform {
    flex-direction: column;
}

#home.page .hero .final-inform-text {
    flex-direction: column;
    flex: 1;
}

#home.page .hero .final-inform .stores-wrapper {
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

#home.page .hero .final-inform .stores-wrapper .mini-logo {
    display: flex;
    height: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: flex-start;
}

#home.page .hero .final-inform .stores-wrapper .mini-logo > img {
    object-fit: contain;
    height: 50px;
}

/* sub-inform */

#home.page .hero .inform .sub-inform {
    position: relative;
    flex-direction: column;
    height: 33.3333%;
    margin-top: 50px;
}

#home.page .hero .inform .sub-inform.bro {
    flex-direction: column;
}

#home.page .hero .inform .sub-inform .sub-inform-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#home.page .hero .inform .sub-inform .sub-inform-text {
    flex-direction: column;
    height: 40%;
    margin-bottom: 10px;
}

#grid-container-wrapper {
    justify-content: center;
    align-items: center;
}

/* inform button */

#home.page .inform a {
    width: 200px;
}

#home.page .inform .inform-button {
    font-size: 20px;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    background-color: var(--grey);
    color: var(--purple-text);
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}

.sub-inform .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.sub-inform .grid-container .grid-item {
    flex-direction: row;
}

.sub-inform .grid-container .grid-item .grid-item-wrapper {
    flex-direction: column;
}

.sub-inform .grid-container .grid-item .grid-item-logo {
    align-items: center;
    height: 66px;
    width: 110px;
    margin-right: 20px;
    justify-content: center;
    display: flex;
}

.sub-inform .grid-container .grid-item .grid-item-title {
    color: #FFF;
    font-weight: bold;
    margin-bottom: 5px;
}

.sub-inform .grid-container .grid-item .grid-item-text {
    color: rgb(189, 185, 185);
}

@media (max-width:590px) {
    .sub-inform .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

@media (min-width: 720px) {

    /* Inform */
    
    #home.page .prime-hero .inform {
        width: 50%;
    }

    #home.page .hero .final-inform {
        flex-direction: row;
    }

    /* sub-informs */

    #home.page .hero .inform .sub-inform {
        flex-direction: row;
        height: 500px;
        margin-top: 0;
    }

    #home.page .hero .inform .sub-inform.bro {
        flex-direction: row-reverse;
    }
    
    #home.page .hero .inform .sub-inform .sub-inform-text {
        width: 50%;
        height: 100%;
        justify-content: center;
    }

    #home.page .hero .final-inform .stores-wrapper {
        flex: 1;
    }

    .sub-inform .grid-container {
    }

    #home.page .hero .inform .sub-inform .sub-inform-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #home.page .hero .inform .sub-inform#final-inform {
        flex-direction: column;
        justify-content: center;
    }

}

@media (min-width: 992px) {
    #home.page .hero .inform .sub-inform .sub-inform-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}