#header {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple);
    position: relative;
}

#header #link-logo {
    width: 80px;
    height: 80px;
    margin-left: 0;
}

#header .logo {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/logo.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

#header .cab {
    height: 100%;
    width: 100%;
    margin-left: 50px;
}

#header .cab .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    height: 100vh;
    right: -100vw;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px;
    transition: all .3s ease-out;
    z-index: 5;
    background-color: var(--purple-text);
}

.open-menu #header .cab .menu {
    right: 0;
}

#close-menu {
    display: none;
}

.open-menu #close-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background-image: url("/assets/images/icons/close-menu.png");
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 6;
}

#header .cab .menu .menu-item {
    height: 50px;
    font-weight: bold;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFF;
}

#menu-open {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background-image: url("/assets/images/icons/open-menu.png");
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media (min-width: 992px) {
    #header .cab {
        flex-direction: row;
        justify-content: flex-start;
    }
    #header .cab .menu {
        position: static;
        height: 100%;
        width: 400px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        background: none;
    }
    #header .cab .menu-item {
        color: var(--white);
    }

    #menu-open {
        display: none;
    }

    #header #link-logo {
        margin-left: 20px;
    }
}

.help-guide {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--gray);
    top: 80px;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.help-guide .index-help {
    font-weight: 600;
}

.help-guide .index-help > a {
    margin-right: 10px;
    color: black;
}

.help-guide .index-help > a:active {
    color: var(--purple);
}

@media (min-width: 992px) {
    #header {
        flex-direction: row;
    }
}
